input {
  @include size(18.75rem, 1.625rem);
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid;
}

button {
  @include size(21.25rem, 3.375rem);
  border: 0.0625rem solid;
  border-radius: 0.25rem;
  @include font($label-medium, 600, 150%);
}

.title {
  @include font($heading-large, 600, 150%);
  text-align: center;
}

.login {
  &-container {
    @include flex(column);
    @include size(21.25rem);
    gap: 2.75rem;
    padding: 5rem 0;
    margin: auto;
  }

  &-form {
    @include flex(column, null, end);

    gap: $paragraph-small;

    &__input-group {
      @include flex(column);
      gap: $paragraph-small;

      input {
        @include font($label-medium, 400, 160%);
        border-color: $gray-300-color;
      }
    }
  }
}

.login-find {
  @include font($label-small, 400, 160%);
}

.login-button {
  @include flex(column);
  gap: $paragraph-small;

  &__login {
    background-color: $primary-color;
    color: $white-color;
  }

  &__register {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}
