.cart-dialog-wrapper {
  @include flex(column nowrap, space-between);
  gap: 1.75rem;
}

.cart-dialog {
  padding: 1.5rem 1.25rem;
  border: 0;
  box-shadow: $below-medium;
  border-radius: 1rem;

  &__title,
  &__price--sale,
  &__quantity-group,
  &__total-group {
    font-weight: 600;
  }

  &__content-group {
    @include flex(row nowrap, space-between, center);
    padding: 0.75rem 0;
    border-top: 1px solid $gray-244-color;
    border-bottom: 1px solid $gray-244-color;
  }

  &__button--decrease {
    background-image: url(/assets/icons/product-detail/Minus.svg);
  }

  &__button--increase {
    background-image: url(/assets/icons/product-cart/Plus.svg);
  }

  &__quantity-value {
    @include size(1.6875rem);
    max-width: 1.6875rem;
    min-width: 1.6875rem;
    text-align: center;
  }

  &__price--original {
    @include font(0.75rem, _, _, $gray-181-color);
    text-decoration: line-through;
  }

  &__quantity-group {
    @include flex(row nowrap, center, center);
    gap: 0.5rem;
    border: 1px solid #dddfe1;
    border-radius: $rem-0-18;

    button {
      @include size(1.875rem, 1.875rem);
    }
  }

  &__form-group {
    @include flex(row nowrap, space-between);
    height: 3.375rem;
    gap: 0.5rem;
  }

  &__form-button--cancel,
  &__form-button--submit {
    @include size(10.9rem);
    border-radius: $rem-0-18;
    font-weight: 600;
  }

  &__form-button--cancel {
    border: 1px solid $gray-221-color;
  }

  &__form-button--submit {
    background-color: $primary-color;
    color: $white-color;
  }

  &__total-group {
    @include flex(row nowrap, space-between, center);
  }

  &__total {
    font-size: 1.5rem;
  }
}

.product-item {
  &__button {
    @include size(100%, 2.25rem);
    border: 1px solid $gray-221-color;
    border-radius: $rem-0-25;

    &::before {
      content: url('/assets/icons/product-list/Cart.svg');
      margin-right: $rem-0-25;
      vertical-align: middle;
    }
  }
}

.modal {
  &-header {
    @include font($heading-medium, 500, 160%, $primary-color);
  }

  &-divider {
    display: block;
    @include size(100%, 0.0625rem);
    margin: $rem-0-5 0;
    background-color: $gray-200-color;
  }

  &-sub-header {
    @include font(0.8rem, 500, 150%, _);
  }

  &-image {
    @include size(15.625rem);
    border-radius: 0.125rem;
    object-fit: cover;
    object-position: center;
  }

  &__cart {
    @include size(100%);
    margin-top: 0.5rem;
    padding: 0.3rem 1rem;
    border: 1px solid $primary-color;
    border-radius: 0.3125rem;
    background-color: $primary-color;
    @include font($label-medium, 500, 150%, $white-color);
    text-align: center;
  }

  &__close {
    @include size(100%);
    margin-top: 0.5rem;
    padding: 0.3rem 1rem;
    @include font($label-medium, 500, 150%, $primary-color);
    border: 1px solid $primary-color;
    border-radius: 0.3125rem;
    background-color: $white-color;
  }

  &-button-group {
    @include flex(row, space-between, center);
    gap: 0.5rem;
  }
}
