body {
  @include flex(column);
  margin: 0 auto;
}

.register {
  padding: 5rem 0 2.5rem 0;

  &__title {
    @include font($heading-large, 600, 150%);
    text-align: center;
  }

  &-fieldset {
    border-top: 0.125rem solid $content-color;
    border-bottom: 0.0625rem solid $content-color;
  }
  &__notice {
    @include flex(row, end, end);
    @include size(40rem, 2.75rem);
    margin: auto;

    &-star {
      color: $info--error-color;
    }
    &-info {
      @include font($label-small, 600, 150%);
    }
  }

  &-form {
    @include flex(column, null, center);

    &__group {
      @include flex(row, null, center);
      position: relative;
      padding: 1.25rem 0;
      margin: auto;
      gap: 0.625rem;
      @include size(40rem);

      &-toggle {
        padding-top: 0;
      }
    }

    &__label {
      @include flex(row, null, center);
      padding: 0.25rem;
      @include size(8.1875rem);

      &-text {
        padding: 0.25rem;
        @include font($label-medium, 600, 150%);
      }
    }

    &__input {
      padding: 0 1.25rem;
      @include size(18.3125rem, 2.75rem);
      border: 0.0625rem solid $gray-300-color;
      border-radius: 0.25rem;
      @include font($paragraph-medium, 400, 160%);
      text-align: center;

      &::placeholder {
        color: $gray-400-color;
      }
    }

    &__notice {
      @include flex(column);
      position: absolute;
      padding-top: 0.25px;
      @include font(0.8125rem, 400, 160%, $info--error-color);
    }

    &__button {
      @include size(8.9375rem, 2.75rem);
      border: 0.0625rem solid $primary-color;
      border-radius: 0.25rem;

      &-text {
        @include font($paragraph-medium, 600, 150%);
        color: $primary-color;
      }

      &-search {
        @include size(20.9375rem);
      }
    }

    &__address {
      @include flex(column);
      gap: 0.25rem;

      &-notice {
        padding-top: 0.25rem;
        @include font($label-small, 400, 160%);
      }
    }

    &__gender {
      @include flex(row, space-between, center);
      @include size(20.8125rem);
    }

    &__gender-option {
      @include flex(row, null, center);
      gap: 0.5rem;
    }

    &__radio {
      &-input {
        @include flex(row, null, center);
        @include size(1.5rem, 1.5rem);
      }
      &-label {
        @include flex(row, null, center);
      }
    }

    &__additional {
      @include flex(row, space-between, center);
      @include size(20.8125rem);

      &-option {
        @include flex(row, null, center);
        gap: 0.5rem;
      }
    }
  }

  &__button {
    padding: 2.5rem 0;
    text-align: center;
  }

  &-form__radio {
    position: relative;
    appearance: none;
    margin: 0;
    padding: 0.03125rem;
    @include size(1.5rem, 1.5rem);
    background-repeat: no-repeat;
    background-size: contain;
    background: url('/assets/icons/input/isSelected=false.svg') no-repeat;

    &:checked {
      background: url('/assets/icons/input/isSelected=true.svg') no-repeat;
    }

    &-label {
      @include font($label-medium, 600, 150%);
    }
  }

  &__submit {
    @include size(21.25rem, 2.75rem);
    background-color: $primary-color;
    color: $white-color;
    @include font($label-medium, 600, 150%);
  }
}

.terms-form {
  padding: 1.25rem 0;
  margin: auto;
  @include size(40rem);
  border-bottom: 1px solid $content-color;

  &__container {
    @include flex(row);
  }

  &__label {
    @include flex(row);
    padding: 0.25rem;
    gap: 0.25rem;
    @include size(8.6875rem, 2.75rem);

    &-text {
      padding: 0.25rem;
      @include font($label-medium, 600, 150%);
    }
  }

  &__checkbox {
    &-wrapper {
      @include flex(row, null, center);
      gap: 0.5rem;
    }

    &-all {
      @include font($label-large, 600, 150%);
    }
    &-select {
      @include font($label-medium, 400, 160%);
    }
  }

  &__all-agree {
    @include flex(column);
    @include size(26.8125rem);
  }

  &__notice {
    @include flex(row, null, center);
    margin-left: 2rem;
    @include size(auto, 1.25rem);
    @include font($paragraph-small, 400, 160%, $gray-400-color);
  }

  &__item {
    @include flex(row, space-between, center);
    padding: 0.625rem 0;
    @include font($label-medium, 400, 160%);
  }

  &__link {
    display: inline-block;
    @include size(auto, 1.1875rem);
    @include font($paragraph-small, 400, 160%, $primary-color);
    text-align: right;
  }
  // 체크박스 이미지 false
  &__checkbox {
    position: relative;
    appearance: none;
    margin: 0;
    padding: 0.03125rem;
    @include size(1.4375rem, 1.4375rem);

    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/icons/input/isChecked=false.svg');
    // 체크박스 이미지 true
    &:checked {
      position: relative;
      background-image: url('/assets/icons/input/isChecked=true.svg');
    }
  }
}
