<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>최근 본 상품</title>
    <script type="module" src="./recent-product.js"></script>
  </head>
  <body>
    <div class="sidebar-wrapper">
      <aside class="recent-products">
        <div class="swiper-button-prev" id="sidebar-prev" aria-label="이전" tabindex="0"></div>
        <p class="recent-products__title">최근 본 상품</p>
        <div class="swiper" id="sidebar-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" tabindex="0"
                ><div class="recent-products__img" aria-label="살얼음 동동 냉메밀 소바 2인분"></div
              ></a>
            </div>
            <div class="swiper-slide">
              <a href="#" tabindex="0"
                ><div class="recent-products__img" aria-label="살얼음 동동 냉메밀 소바 2인분"></div
              ></a>
            </div>
            <div class="swiper-slide">
              <a href="#" tabindex="0"
                ><div class="recent-products__img" aria-label="살얼음 동동 냉메밀 소바 2인분"></div
              ></a>
            </div>
            <div class="swiper-slide">
              <a href="#" tabindex="0"
                ><div class="recent-products__img" aria-label="살얼음 동동 냉메밀 소바 2인분"></div
              ></a>
            </div>
          </div>
        </div>
        <div class="swiper-button-next" id="sidebar-next" aria-label="다음" tabindex="0"></div>
      </aside>
    </div>
  </body>
</html>
