:host {
  --top: 50%;
  --transform: translateY(-50%);
  --margin-top: calc(50vh - 40%);
  --right: 5.25rem;
}

.sidebar-wrapper {
  position: absolute;
  right: var(--right);
  margin-top: 14.75rem;
  height: auto;
  top: 0;
  bottom: 0;
}

.recent-products {
  @include flex(column nowrap);
  position: sticky;
  top: var(--top);
  transform: var(--transform);
  margin-top: var(--margin-top);
  @include size(3.63rem, auto);
  max-height: 17.4375rem;
  padding: 0.5rem;
  border: 1px solid $gray-200-color;
  background-color: $white-color;
  gap: 0.5rem;

  &__title {
    @include font(0.75rem, 600, _, _);
  }

  &__img {
    @include size(100%, 5rem);
    background: url('/src/assets/images/banner/1.webp') no-repeat;
    background-color: $gray-100-color;
    background-size: cover;
  }

  .swiper {
    overflow: hidden;
    @include size(100%, auto);
    max-height: 80%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include size(100%, 1.25rem);
    cursor: pointer;
  }

  .swiper-button-prev {
    background: url(/assets/icons/arrow/recent-arrow.svg) no-repeat;
    background-position: center;
  }
  .swiper-button-next {
    background: url(/assets/icons/arrow/recent-arrow.svg) no-repeat;
    transform: rotate(180deg);
    background-position: center;
  }
}

@media (max-width: 1450px) {
  .recent-products {
    display: none;
  }
}
