.sidebar-wrapper {
  // background-color: yellow;
  position: absolute;
  right: 1.25rem;
  margin-top: 14.75rem; // 마켓컬리 사이트 참고
  height: 200%;
}

.recent-products {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  @include flex(column nowrap);
  @include size(3.63rem, auto);
  max-height: 17.4375rem;
  border: 1px solid $gray-200-color;
  background-color: $white-color;
  padding: 0.5rem;
  gap: 0.5rem;

  &__title {
    font-size: 0.75rem;
    font-weight: 600;
  }

  &__img {
    background: url('/src/assets/images/banner/1.webp') no-repeat;
    background-color: $gray-100-color;
    background-size: cover;
    @include size(100%, 5rem);
  }

  .swiper {
    overflow: hidden;
    @include size(100%, auto);
    max-height: 80%;
    // background-color: green;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include size(100%, 1.25rem);
    cursor: pointer;
  }

  .swiper-button-prev {
    background: url(/assets/icons/arrow/recent-arrow.svg) no-repeat;
    background-position: center;
  }
  .swiper-button-next {
    background: url(/assets/icons/arrow/recent-arrow.svg) no-repeat;
    transform: rotate(180deg);
    background-position: center;
  }
}

@media (max-width: 1300px) {
  .recent-products {
    display: none;
  }
}
