// 변수 정의
$gallery-padding: 1.25rem 0 1.875rem 0;
$icon-padding: 0 0.5rem;
$border-radius-sm: 0.25rem;
$border-radius-md: 0.375rem;
$border-bottom: 1px solid $gray-100-color;
$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 600;
$font-weight-xl: 700;
$line-height-sm: 140%;
$line-height-md: 150%;

// 믹스인 정의
@mixin font-style($size, $weight, $line-height, $color: null) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  @if $color {
    color: $color;
  }
}

@mixin icon-button($width, $height, $color, $icon-path) {
  width: $width;
  height: $height;
  -webkit-mask: url($icon-path) no-repeat center / contain;
  mask: url($icon-path) no-repeat center / contain;
  background-color: $color;
}

// 리뷰 컨테이너
.product-reviews {
  @include size(1050px);
  position: relative;
  margin: 0 auto 4.5rem;
  padding-bottom: 6.25rem;

  // 후기 혜택 안내
  &__info {
    align-items: center;
  }

  &__title {
    @include font-style($heading-xl, $font-weight-xl, $line-height-sm);
    display: inline-block;
    padding-bottom: 1rem;
  }

  // 후기 작성 버튼
  &__write-btn {
    @include size(9.6875rem, 2.75rem);
    @include font-style(
      $label-medium,
      $font-weight-md,
      $line-height-md,
      $white-color
    ); // 600 -> 500
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: $border-radius-sm;
    background-color: $primary-color;
  }

  &__description {
    @include font-style($label-medium, $font-weight-lg, $line-height-md);
  }

  &__benefit-list {
    padding-bottom: 1.875rem;
    &-item {
      @include font-style(
        $label-medium,
        $font-weight-sm,
        $line-height-md,
        $gray-400-color
      ); // 600 -> 400 / gray 500 -> 400
      padding-left: 1rem;
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

// 상품 리뷰 썸네일 이미지 갤러리 => 추가 기능
.product-gallery {
  @include flex(row, space-between, center);
  width: 100%;
  padding: $gallery-padding;

  &__image-btn {
    overflow: hidden;

    img {
      @include size(8rem, 8rem);
      display: block;
      object-fit: cover;
      background: $gray-100-color no-repeat center / contain; // url?
    }
    &:first-child {
      border-top-left-radius: $border-radius-md;
      border-bottom-left-radius: $border-radius-md;
    }

    &:nth-child(8) {
      position: relative;
      border-top-right-radius: $border-radius-md;
      border-bottom-right-radius: $border-radius-md;
    }
  }

  &__more-btn {
    @include size(8rem, 8rem);
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    border-top-right-radius: $border-radius-md;
    border-bottom-right-radius: $border-radius-md;
    background: rgba(0, 0, 0, 0.25);

    span {
      // +더보기 버튼 텍스트
      @include font-style($label-medium, $font-weight-md, $line-height-md, $white-color);
    }
  }
}

// 리뷰 써머리 - 리뷰 개수
.review-content {
  &__summary {
    @include flex(row, space-between, center);
    @include font-style(
      $label-medium,
      $font-weight-md,
      $line-height-md
    ); // label-small -> medium / 600 -> 500
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-900-color;
  }

  // 리뷰 써머리 - 필터링 버튼
  &__sort-list {
    display: flex;
    position: absolute;
    right: 0;
  }
  &__sort-btn {
    @include font-style(
      $label-small,
      $font-weight-md,
      $line-height-md,
      $gray-300-color
    ); // medium -> small / 600 -> 500
    position: relative;

    &--active {
      color: $content-color;
    }
  }

  // 분류 버튼 경계선 // 시안과 다르게 스타일 적용
  &__sort-divider {
    @include flex(row, center, center);
    @include font-style($label-small, $font-weight-md, $line-height-md, $gray-300-color);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

// 후기 관련 공지사항
.review-notice {
  // border-bottom: $border-bottom;

  &__item {
    @include flex(row, left, center);
    padding: 1.3125rem 1.25rem;
    border-bottom: $border-bottom;
  }

  &__icon {
    @include flex(row, center, center);
    @include font-style($label-small, $font-weight-md, $line-height-md); // 600 -> 500
    padding: $icon-padding;
    border-radius: $border-radius-sm;
    background-color: $gray-100-color;
    margin-right: 1.25rem;
    text-align: center;
  }

  &__title {
    text-align: center;

    @include font-style($label-medium, $font-weight-md, $line-height-md); // 600 -> 500
  }

  &__content {
    @include font-style($paragraph-medium, $font-weight-sm, 160%); // 시안에 없음
    padding: 1.25rem;
    border-bottom: $border-bottom;
    background-color: $gray-50-color;
    white-space: pre-line; // 추가
  }
}

// 후기가 없을 경우
.review-list {
  &__empty {
    @include flex(column, center, center);
    padding: 1.25rem;
    border-bottom: $border-bottom;

    &-icon {
      @include icon-button(
        3rem,
        3rem,
        $gray-100-color,
        '/assets/icons/product-review/review-empty.svg'
      );
      margin-bottom: 1.25rem;
    }

    &-message {
      @include font-style(
        $label-medium,
        $font-weight-md,
        $line-height-md,
        $gray-300-color
      ); // 600 -> 500
    }
  }
}

// 후기 리스트
.review-article__list {
  &-area {
    @include flex(row, left, left);
    padding: 1.25rem 0 1.25rem 1.25rem;
    border-bottom: $border-bottom;
  }
  // 후기 작성자
  .review-item {
    flex: 0 0 16.6rem;

    &__user {
      @include flex(row, left, center);
    }

    &__badge {
      @include flex(row, center, center);
      @include font-style(
        $label-small,
        $font-weight-md,
        $line-height-md,
        $white-color
      ); // 600 -> 500
      padding: 0 0.25rem;
      border-radius: 0.1875rem;
      background-color: $secondary-color;
    }

    &__author {
      @include font-style($label-small, $font-weight-md, $line-height-md); // 600 -> 500
      margin-left: 0.5rem;
      text-align: center;
    }
  }

  // 후기 아티클
  .review {
    flex: 1 1 0;

    &__product-name {
      @include font-style(
        $label-small,
        $font-weight-sm,
        $line-height-md,
        $gray-400-color
      ); // 600 -> 400
      display: inline-block;
    }

    &__text {
      @include font-style($paragraph-small, $font-weight-sm, 160%); // black -> content-color
      padding: 0.75rem 1.25rem 0 0;
      white-space: pre-line; // 추가
    }

    // 사용자 후기 이미지 // 추가 기능
    &__gallery {
      @include flex(row, left, center);
      width: 100%;
      padding-top: 1rem; // 수정
    }

    &__image-btn {
      @include size(5.8125rem, 5.8125rem);
      overflow: hidden;
      margin-left: 0.19rem;

      img {
        @include size(inherit, inherit);
        display: block;
        box-sizing: inherit;
        background: $gray-100-color no-repeat center / contain;
        object-fit: cover;
      }

      &:first-child {
        border-top-left-radius: $border-radius-md;
        border-bottom-left-radius: $border-radius-md;
        margin-left: 0;
      }

      &:nth-child(5) {
        position: relative;
        border-top-right-radius: $border-radius-md;
        border-bottom-right-radius: $border-radius-md;
      }
    }

    // 후기란 푸터
    &__footer {
      @include flex(row, space-between, center);
      padding: 1.1875rem 1.25rem 0 0; // 수정
    }

    &__date {
      @include font-style(
        $label-small,
        $font-weight-sm,
        $line-height-md,
        $gray-400-color
      ); // 600 -> 400
    }

    // 추가 기능 - 도움돼요 버튼
    &__helpful-btn {
      @include flex(row, left, center);
      height: 2rem;
      border: 1px solid $gray-200-color;
      border-radius: 1.25rem;
      padding: 0.375rem 0.875rem 0.375rem 0.875rem;

      &-icon {
        @include icon-button(
          0.875rem,
          0.875rem,
          $gray-400-color,
          '/assets/icons/product-review/helpful.svg'
        );
        margin-right: 0.25rem;

        &--active {
          background-color: $primary-color;
        }
      }

      &-text {
        @include font-style($label-small, $font-weight-sm, $line-height-md, $gray-400-color);

        &--active {
          color: $primary-color;
        }
      }

      &:hover,
      &:active {
        .review__helpful-btn-icon {
          background-color: $primary-color;
        }

        .review__helpful-btn-text {
          color: $primary-color;
        }
      }
    }
  }
}

// 페이지네이션 좌우 버튼
.paging {
  @include flex(row, center, center);
  gap: 1rem;
  margin-top: 1rem;

  &__button {
    &--prev {
      @include icon-button(
        3.5rem,
        3.5rem,
        $gray-200-color,
        '/assets/icons/product-review/paging.svg'
      );
    }

    &--next {
      transform: scaleX(-1);
      @include icon-button(
        3.5rem,
        3.5rem,
        $gray-200-color,
        '/assets/icons/product-review/paging.svg'
      );
    }

    &:hover,
    &:active {
      background-color: $primary-color;
    }
  }
}

.visually-hidden {
  @include size(0.0625rem, 0.0625rem); // 각 1px
  position: absolute;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
