.main {
  @include flex(column, _, center);
  width: 100%;
  gap: 2.75rem;
  padding: 5rem 0rem;

  &__title {
    font-size: $label-large;
    font-weight: 600;
    line-height: 150%;
  }
}

.cart {
  @include flex(row, space-between, flex-start);
  width: 65.625rem;

  &-list {
    @include flex(column, _, flex-start);
  }

  &-selection {
    @include flex(row, _, center);
    gap: 0.5rem;
    width: 46.375rem;
    padding: 1rem 0rem;

    &:nth-child(1) {
      border-bottom: 1px solid $content-color;
    }
  }

  &-select-all {
    display: none;
  }

  &-select-label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: 0rem;
      background-image: url('/assets/icons/input/isChecked=false.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-select-all:checked + &-select-label::before {
    background-image: url('/assets/icons/input/isChecked=true.svg');
  }

  &-divider {
    width: 0.0625rem;
    height: 1rem;
    background-color: #ccc;
  }

  &-delete-selected {
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
  }

  &-categories {
    @include flex(column, _, flex-start);
  }

  &-category {
    width: 46.735rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid $content-color;

    &__content {
      @include flex(row, _, center);
      gap: 0.75rem;
    }

    &__name {
      font-size: $label-medium;
      font-weight: 500;
      line-height: 150%;
    }

    &__arrow-icon {
      @include size(1.875rem, 1.875rem);
      padding: 0.25rem;
      background-image: url('/assets/icons/product-cart/Arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    details[open] &__arrow-icon {
      transform: rotate(180deg);
    }

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      list-style: none;

      &::-webkit-details-marker {
        display: none;
      }
    }
  }

  &-edit {
    @include flex(column, _, flex-start);
    gap: 1rem;
    width: 18rem;

    &__location {
      @include flex(column, _, flex-start);
      align-self: stretch;
      border: 1px solid $gray-100-color;

      &-area {
        @include flex(column, _, flex-start);
        align-self: stretch;
        gap: 0.75rem;
        padding: 1.25rem;
        border-bottom: 1px solid $gray-100-color;
      }

      &-icon {
        @include flex(row, _, center);
        position: relative;
        left: -10px;
      }

      &-text {
        font-size: $label-medium;
        font-weight: 500;
        line-height: 150%;
      }

      &-address {
        font-size: $label-medium;
        font-weight: 500;
        line-height: 150%;
      }

      &-method {
        font-size: $label-small;
        font-weight: 500;
        line-height: 150%;
        color: $primary-color;
      }

      &-change {
        width: 100%;
        height: 2.75rem;
        border-radius: 0.25rem;
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }

    &__price {
      @include flex(column, _, flex-start);
      align-self: stretch;
      padding: 1.25rem;
      background-color: $gray-50-color;

      &-detail {
        @include flex(column, _, flex-start);
        gap: 1rem;
        width: 15.25rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px dashed $gray-100-color;
      }

      &-item {
        @include flex(row, space-between, center);
        align-self: stretch;
        font-size: $paragraph-medium;
        line-height: 160%;
      }

      &-currency {
        font-size: $label-medium;
        font-weight: 600;
        line-height: 150%;
        margin-left: 0.125em;
      }

      &-total {
        @include flex(column, _, flex-end);
        gap: 0.6875rem;
        width: 15.25rem;
        padding-top: 1.5rem;
      }
    }

    &__total {
      @include flex(row, space-between, center);
      align-self: stretch;

      &-label {
        font-size: $paragraph-medium;
        line-height: 160%;
      }

      &-value {
        font-size: $heading-xl;
        font-weight: 600;
        line-height: 140%;
      }
    }

    &__earn {
      @include flex(row, _, flex-end);
      gap: 0.5rem;

      &-reward {
        padding: 0rem 0.5rem;
        border-radius: 0.0625rem;
        background-color: $accent-yellow-color;
        font-size: $label-small;
        font-weight: 500;
        line-height: 150%;
        color: $white-color;
      }

      &-points {
        font-size: $label-small;
        font-weight: 500;
        line-height: 150%;
      }
    }

    &__order {
      width: 100%;
      height: 2.75rem;
      border-radius: 0.25rem;
      background-color: $primary-color;
      color: $white-color;
    }

    &__notice {
      @include flex(column, _, flex-start);

      &-item {
        font-size: $label-small;
        font-weight: 500;
        line-height: 150%;
        color: $gray-400-color;
      }
    }
  }

  &-product {
    @include flex(row, null, center);
    padding: 1.25rem 0rem;

    &__select-input {
      display: none;
    }

    &__select-label {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 2.5rem;
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        left: 0rem;
        background-image: url('/assets/icons/input/isChecked=false.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__select-input:checked + &__select-label::before {
      background-image: url('/assets/icons/input/isChecked=true.svg');
    }

    &__image {
      @include size(3.75rem, 4.875rem);
      margin-right: 1.25rem;
    }

    &__info {
      @include flex(row, null, center);
    }

    &__title {
      @include size(21.5625rem, null);
      margin-right: 1.25rem;
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
      font-size: $label-medium;
      font-weight: 500;
      line-height: 150%;
    }

    &__quantity {
      @include flex(row, null, center);
      @include size(5.5rem, auto);
      border: 1px solid #dddfe1;
      border-radius: 0.1875rem;

      &-value {
        @include flex(row, center, center);
        @include size(1.9375rem, 1.75rem);
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 175%;
      }
      &-btn {
        @include size(1.75rem, 1.75rem);
        border: none;
        font-size: 1px;
        color: transparent;
        background-size: cover;
        background-color: transparent;

        &--minus {
          background-image: url('/assets/icons/product-cart/DefaultMinus.svg');
        }

        &--plus {
          background-image: url('/assets/icons/product-cart/Plus.svg');
        }
      }
    }

    &__price {
      @include flex(column, null, flex-end);
      @include size(7.9375rem, auto);

      &-discounted {
        font-size: $label-medium;
        font-weight: 700;
        line-height: 150%;
      }

      &-original {
        padding-top: 0.25rem;
        font-size: 0.875rem;
        line-height: 150%;
        text-decoration: line-through;
        color: $gray-200-color;
      }
    }

    &__remove-btn {
      @include size(1.875rem, 1.875rem);
      margin-left: 0.5625rem;
      background-size: cover;
      background-color: transparent;
      background-image: url('/assets/icons/product-cart/Delete.svg');
    }
  }
}

.cart-modal {
  &-header {
    font-size: 1.25rem;
    font-weight: 500;
    color: $primary-color;
    line-height: 160%;
  }

  &-divider {
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: $gray-200-color;
    margin: 0.5rem 0rem;
  }

  &-sub-header {
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
  }

  &-button-group {
    @include flex(row, center, center);
    gap: 1rem;
    padding-top: 1rem;
  }

  &__address-change {
    background-color: $primary-color;
    color: $white-color;
    padding: 0.5rem 1rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.3125rem;
  }

  &__close {
    background-color: $white-color;
    color: $primary-color;
    padding: 0.5rem 1.8rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.3125rem;
    border: 1px solid $primary-color;
  }
}

.cart-alert-modal {
  &__title {
    margin-bottom: 0.5rem;
    font-size: $label-large;
    font-weight: 700;
    line-height: 150%;
    color: $primary-color;
    text-align: center;
  }

  &__body {
    margin: 2.5rem 0rem;
    font-size: $paragraph-medium;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
  }

  &__close {
    width: 100%;
    background-color: $white-color;
    color: $primary-color;
    padding: 0.5rem 1.8rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.3125rem;
    border: 1px solid $primary-color;
  }
}
