.modal-dialog {
  display: block;
  border: none;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.modal-dialog.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-dialog.hide {
  opacity: 0;
  transform: translateY(-20px);
}
