// 변수 정의
$modal-width: 45.6rem;
$modal-height: 35.4rem;
$modal-padding: 2rem;
$modal-border-radius: 1rem;
$label-width: 6.25rem;
$input-height: 2.75rem;
$textarea-height: 12.375rem;

// 믹스인 정의
@mixin font-style($size, $weight, $line-height, $color: null) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

.modal {
  &__overlay {
    @include size(100%, 100%);
    @include flex(row, center, center);
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    @include size($modal-width, $modal-height);
    padding: $modal-padding;
    background-color: $white-color;
    border-radius: $modal-border-radius;
  }

  &__header {
    @include flex(row, space-between, center);
    padding-bottom: 1.25rem;
    border-bottom: 1px solid $gray-100-color;
  }

  &__title {
    @include font-style($heading-xl, 700, 140%);
  }

  &__close-btn {
    @include size(1.875rem, 1.875rem);
    background-color: $gray-100-color;
    -webkit-mask: url('/assets/icons/modal/close-btn.svg') no-repeat center / contain;
    mask: url('/assets/icons/modal/close-btn.svg') no-repeat center / contain;
  }

  &__product {
    @include flex(row, flex-start, center);
    gap: 1.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-100-color;

    &-image {
      @include size(4.5rem, 4.5rem);
      border-radius: 0.1875rem; // 추가
    }

    &-name {
      @include font-style($label-medium, 600, 150%);
    }
  }

  &__form {
    padding: 1rem 0;
    // border-bottom: 1px solid $gray-100-color;

    fieldset,
    legend {
      @include flex(column, flex-start, flex-start);
      width: 100%;
      gap: 0.75rem;
    }

    &-group {
      @include flex(row, flex-start, flex-start);
      width: 100%;
      position: relative;
    }

    &-label {
      @include font-style($label-medium, 600, 150%);
      width: $label-width;
      padding-top: 0.5rem;
      flex-shrink: 0;
    }

    &-char-count {
      position: absolute;
      display: flex;
      box-sizing: border-box;
      padding: 0 1rem 1rem;
      right: 0;
      bottom: 0;
      z-index: 1;

      span {
        @include font-style($paragraph-small, 400, 160%, $gray-300-color);
      }
    }

    .visually-hidden {
      @include size(0.0625rem, 0.0625rem); // 각 1px
      position: absolute;
      padding: 0;
      margin: -0.0625rem;
      overflow: hidden;
      border: 0;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
    }
  }
}

// 폼 엘리먼트
%form-element-wrapper {
  @include flex(column, _, _);
  width: 100%;
  flex-grow: 1;
}

%form-element {
  @include font-style(($paragraph-small), 400, 160%);
  width: 100%;
  border: 1px solid $gray-300-color;
  border-radius: 0.25rem;
  box-sizing: border-box;

  &::placeholder {
    @include font-style($paragraph-medium, 400, 160%, $gray-400-color);
  }

  &:focus {
    outline: 1px solid currentColor;
  }
}

.modal__input-wrapper,
.modal__textarea-count,
.modal__textarea-wrapper {
  @extend %form-element-wrapper;
}

.modal__input,
.modal__textarea {
  @extend %form-element;
}

.modal__input {
  height: $input-height;
  padding: 0 1.25rem;
}

.modal__textarea-wrapper {
  position: relative;

  &:focus-within .modal__textarea-placeholder {
    display: none;
  }
}

.modal__textarea {
  height: $textarea-height;
  padding: 1rem;
  resize: none;
  overflow: auto;
}

.modal__textarea-placeholder {
  top: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  height: $textarea-height;
  box-sizing: border-box;
  z-index: 1;

  .placeholder__text {
    p {
      @include font-style($paragraph-small, 400, 160%, $gray-400-color);
      padding-top: 0.25rem;
    }

    strong {
      @include font-style($paragraph-medium, 600, 150%, $gray-400-color);
      display: block;
      padding-top: 0.75rem;
      padding-bottom: 0.25rem;
    }
    ul {
      list-style: disc;
      padding-left: 1.25rem; // 추가
    }

    li {
      @include font-style($paragraph-small, 400, 160%, $gray-400-color);
      padding-top: 0.25rem;

      &:nth-child(1) {
        padding-top: 0;
      }
    }
    .caution__text {
      @include font-style($paragraph-small, 400, 160%, $info--error-color);
    }
  }
}

.checkbox {
  margin-left: 6.25rem;
  padding-bottom: 1.37rem;

  &__input {
    &:checked + .checkbox__icon {
      background: url('/assets/icons/input/isChecked=true.svg') no-repeat center / contain;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  &__icon {
    @include size(1.5rem, 1.5rem);
    display: inline-block;
    background: url('/assets/icons/input/isChecked=false.svg') no-repeat center / contain;
  }

  &__text {
    @include font-style($paragraph-small, 400, 160%, currentColor); // black -> currentColor
  }
}

// 버튼 엘리먼트
%button-element {
  @include size(11.625rem, 3.375rem);
  @include flex(row, center, center);
  @include font-style($label-medium, 500, 150%); // 600 -> 500
  border-radius: 0.25rem;
}

.modal__actions {
  @include flex(row, center, center);
  padding-top: 1.25rem;
  gap: 0.75rem;
  border-top: 1px solid $gray-100-color;
}

.modal__button--cancel,
.modal__button--submit,
.modal__button--submit--disabled {
  @extend %button-element;
}

.modal__button--cancel {
  border: 1px solid $gray-200-color;
}

.modal__button--submit {
  background: $gray-100-color;
  @include font-style($label-medium, 500, 150%, $white-color); // 600 -> 500

  &:active {
    background: $primary-color;
  }
}
