// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin icon-button($icon-path) {
  width: 2.25rem;
  height: 2.25rem;
  background-image: url($icon-path);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

%link-style {
  font-size: $paragraph-small;
  font-weight: 400;
  line-height: 160%;
}

.karly-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: $below-low;
}

.top-banner {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  height: 3.125rem;
  background-color: $primary-color;

  &__nav {
    @include flex-center;
    position: relative;
    flex: 1 0 0;
    width: 65.625rem;
    gap: 4.5rem;
  }

  &__link {
    font-size: $paragraph-medium;
    font-weight: 400;
    line-height: 160%;
    color: $white-color;

    span {
      color: $white-color;
      font-size: $label-medium;
      font-weight: 600;
      line-height: 150%;
      text-decoration: underline;
    }
  }

  &__close {
    position: absolute;
    top: 0.25rem;
    right: 0rem;
  }
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  width: 65.625rem;
  padding-bottom: 1.25rem;
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-top: 0.75rem;

  a {
    @extend %link-style;
  }

  &__signup {
    color: $primary-color;
  }

  &__logout {
    @extend %link-style;
  }

  &__username {
    @extend %link-style;
    color: $primary-color;
  }
}

.search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.logo-section {
  @include flex-center;
  gap: 0.75rem;

  .divider {
    height: 0.875rem;
  }
}

.logo-link {
  font-size: $label-large;
  font-weight: 400;
  line-height: 150%;
  color: $gray-400-color;

  &-is-active,
  &:hover {
    color: $primary-color;
    font-weight: 600;
  }
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 20rem;
  top: -0.255rem;
  width: 22.5rem;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid $primary-color;

  &:focus-within {
    box-shadow: 0 0 0 1px $primary-color;
  }

  button {
    width: 2.25rem;
    height: 2.25rem;
    background-image: url('/assets/icons/header/Search.svg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    flex-shrink: 0;
  }

  input {
    width: 100%;
    outline: none;
    border: none;
    font-size: $paragraph-medium;
    font-weight: 400;
    line-height: 160%;

    &::placeholder {
      color: $gray-400-color;
    }
  }
}

.user-actions {
  display: flex;
  gap: 1.25rem;

  &__location {
    @include icon-button('/assets/icons/header/Location.svg');
  }

  &__wishlist {
    display: block;
    @include icon-button('/assets/icons/header/Heart.svg');
  }

  &__cart {
    display: block;
    @include icon-button('/assets/icons/header/Cart.svg');
  }

  &__badge {
    @include flex(row, center, center);
    @include size(0.3125rem, 0.3125rem);
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 50%;
    font-size: 0.625rem;
    font-weight: 500;
    color: $white-color;
    background-color: $primary-color;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65.625rem;
  margin-bottom: 0.1rem;
}

.category-menu {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  position: relative;
  padding: 1rem 1rem;
  cursor: pointer;

  &__icon {
    width: 1rem;
    height: 0.875rem;
    background-color: $black-color;
    -webkit-mask: url('/assets/icons/header/Hamburger.svg') no-repeat center;
    mask: url('/assets/icons/header/Hamburger.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    flex-shrink: 0;
  }

  &__text {
    outline: none;
    font-size: $label-medium;
    font-weight: 600;
    line-height: 150%;
  }

  &.focused {
    border-radius: 2px;
    outline: 2px solid #015ecc;
  }

  &:hover {
    .category-menu__icon {
      background-color: $primary-color;
    }

    .category-menu__text {
      color: $primary-color;
    }
  }
}

.shopping-categories {
  display: flex;
  align-items: center;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.25rem;
  width: 9.375rem;

  &__link {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;

    &.__is-active {
      color: $primary-color;
      font-size: 1.125rem;
      font-weight: 600;
    }
  }

  &:hover {
    color: $primary-color;
    font-weight: 600;
    transform: scale(1.1);
  }
}

.notification {
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  border-radius: 1rem;
  border: 1px solid $gray-300-color;
  font-size: $paragraph-small;
  font-weight: 400;
  line-height: 160%;
  cursor: pointer;

  span {
    color: $primary-color;
  }
}

.divider {
  background-color: #d9d9d9;
  width: 0.0625rem;
  height: 0.8125rem;
}

.menu-container {
  display: none;
  position: absolute;
  top: 3.82rem;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-box {
  max-height: 40rem;
  overflow-y: scroll;
}

.menu-list__item {
  display: flex;
  width: 14.7rem;
  padding: 0.5rem 0rem 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;

  &.focused {
    border-radius: 2px;
    outline: 2px solid #015ecc;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  a {
    outline: none;
    font-size: $label-medium;
    line-height: 150%;
  }
}

.location-tooltip {
  display: none;
  position: absolute;
  right: -3.5rem;
  top: 2.9rem;
  width: 16.6875rem;
  padding: 1.125rem 1.0625rem 1.0625rem;
  border: 1px solid $gray-100-color;
  background-color: #fff;
  z-index: 1200;

  &-button {
    @include flex(row, space-between, flex-start);
    padding-top: 1rem;

    &__login {
      flex: 1 0 0;
      display: inline-block;
      padding: 0.7rem 1.5rem;
      border: 1px solid $primary-color;
      border-radius: 0.1875rem;
      font-size: 1rem;
      font-weight: 500;
      color: $primary-color;
      text-align: center;
    }

    &__location {
      flex: 1 0 0;
      padding: 0.6rem 3.4rem;
      border: 1px solid $primary-color;
      border-radius: 0.1875rem;
      font-size: 1rem;
      font-weight: 500;
      color: $white-color;
      background-color: $primary-color;
      text-align: center;
    }
  }
}

.modal {
  &-notice {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.02rem;
    color: $primary-color;
  }

  &-notice2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.02rem;

    strong {
      color: $primary-color;
    }
  }

  &-header {
    font-size: 1.25rem;
    font-weight: 500;
    color: $primary-color;
    line-height: 160%;
  }

  &-divider {
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: $gray-200-color;
    margin: 0.5rem 0rem;
  }

  &-sub-header {
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    box-shadow: 0 0 0 1px $gray-100-color;
    border-radius: 0.3125rem;
    font-size: $paragraph-medium;
    &:focus {
      box-shadow: 0 0 0 1px $gray-300-color;
    }
  }

  &-button-group {
    @include flex(row, center, center);
    gap: 1rem;
    padding-top: 1rem;
  }

  &__address-change {
    background-color: $primary-color;
    color: $white-color;
    padding: 0.5rem 1rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.3125rem;
  }

  &__close {
    background-color: $white-color;
    color: $primary-color;
    padding: 0.5rem 1.8rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.3125rem;
    border: 1px solid $primary-color;
  }

  &-location {
    &-register__title {
      font-size: 1rem;
      font-weight: 600;
      line-height: 150%;
    }

    &__address {
      font-size: 1rem;
      font-weight: 400;
      line-height: 150%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-delivery {
      display: block;
      width: fit-content;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 150%;
      color: $primary-color;
    }
  }
}

.logout-modal {
  &__title {
    margin-bottom: 0.5rem;
    font-size: $label-large;
    font-weight: 700;
    line-height: 150%;
    color: $primary-color;
    text-align: center;
  }

  &__body {
    margin: 2.5rem 0rem;
    font-size: $paragraph-medium;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
  }

  &-button {
    @include flex(row, center, center);
    gap: 1rem;
  }

  &__close {
    background-color: $white-color;
    color: $primary-color;
    padding: 0.5rem 1.8rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.3125rem;
    border: 1px solid $primary-color;
  }

  &__logout {
    background-color: $primary-color;
    color: $white-color;
    padding: 0.5rem 1.8rem;
    font-size: $label-medium;
    font-weight: 500;
    line-height: 150%;
    border-radius: 0.3125rem;
    border: 1px solid $primary-color;
  }
}
