/* 변수 */

$banner-button-margin: 21.88rem;

/* 공통 적용 */

a {
  display: inline-block;
}

/* 상품 리스트 & 추천 상품 리스트 */

.product-list-page {
  position: relative;
  @include size(65.625rem);
  line-height: $line-height;
  margin: 0 auto;
  line-height: $line-height;
}

.product-header {
  padding: 3rem 0;
  @include font($label-xl, 500, $line-height, _);
  text-align: center;
}

.product-list-group {
  @include flex(row nowrap);
}

.product-contents-group {
  @include flex(column nowrap);
  @include size(48.9375rem);
  margin: 0 auto;
}

.product-filter {
  @include flex(row nowrap, space-between);
  padding-bottom: 1.25rem;

  &__count,
  &__button--is-active {
    font-weight: 600;
  }

  &__button {
    @include font(0.875rem, _, _, $gray-153-color);

    &--is-active {
      color: $content-color;
    }
  }

  ul {
    @include flex(row nowrap);
  }

  li {
    &:nth-child(n + 2):nth-child(-n + 6)::before {
      content: '';
      display: inline-block;
      @include size(0.0625rem, 0.625rem);
      margin: 0 $rem-0-5;
      background-color: $gray-100-color;
      font-size: 0.625rem;
    }
  }
}

.product-item-group {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 15.5625rem);
  row-gap: 1.5rem;
  box-sizing: border-box;
}

.price-group {
  margin: $rem-0-5 0 $rem-0-25 0;
}

.product-item {
  @include flex(column nowrap, space-between);
  @include size(15.5625rem, 37rem);

  a {
    @include size(15.5625rem, 35.4rem);
  }

  &__img {
    @include size(100%, 20rem);
    border-radius: $rem-0-25;
    background-color: $gray-100-color;
    background-size: 100%;
    background-position: center center;
    transition: background-size 0.3s ease;
  }

  &__img:hover {
    background-size: 110%;
  }

  &__delivery {
    padding-top: $paragraph-medium;
    @include font($rem-0-875, _, _, $gray-153-color);
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    margin-top: $rem-0-18;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__price {
    @include font($rem-0-875, _, _, $gray-181-color);
    text-decoration: line-through;
  }

  &__description {
    margin-top: $rem-0-18;
    color: $gray-153-color;
    font-size: $paragraph-small;
    line-height: 140%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__discount-rate {
    margin-right: 0.4375rem;
    @include font($rem-1-18, 700, _, $accent-yellow-color);
  }

  &__real-price {
    @include font($rem-1-18, 700, _, _);
  }

  &__reviews {
    @include font(0.8125rem, _, _, $gray-153-color);
    padding-bottom: 5px;

    &::before {
      content: url('/assets/icons/product-list/reviews.svg');
      width: 5.3125rem;
      margin-right: 0.125rem;
      vertical-align: middle;
    }
  }

  &__kurly-only,
  &__limited {
    padding: $rem-0-25;
    border-radius: $rem-0-25;
    background-color: $gray-244-color;
    @include font($label-small, 500, _, _);
  }

  &__kurly-only {
    color: $primary-color;
  }

  &__button {
    @include size(100%, 2.25rem);
    border: 1px solid #dddddd;
    border-radius: $rem-0-25;

    &::before {
      content: url('/assets/icons/product-list/Cart.svg');
      margin-right: $rem-0-25;
      vertical-align: middle;
    }
  }
}

/* 페이지네이션 */

.pagination {
  @include flex(row nowrap, center);
  margin-top: 3.75rem;
  margin-bottom: 5rem;

  .prev-button {
    transform: rotate(180deg);
  }

  ol {
    @include flex(row nowrap);
  }

  &__link--is-selected {
    background-color: #f7f7f7;
  }

  &__button,
  a {
    @include flex(row nowrap, center, center);
    @include size(2.125rem, 2.125rem);
    margin-right: -0.0625rem;
    padding: $rem-0-25;
    box-sizing: border-box;
    border: 1px solid $gray-100-color;
  }

  a {
    font-size: $rem-0-875;
  }

  &__button:hover,
  a:hover {
    background-color: #f7f7f7;
  }
}

c-sidebar {
  --right: -10rem;
  --margin-top: calc(9vh - 40%);
}
