/* 변수 */

$width: 65.625rem;

/* 공통 적용 */

a {
  display: inline-block;
}

/* 메인 배너 슬라이드 */

.main {
  position: relative;
}

.main-banner {
  .swiper {
    @include size(auto, 23.125rem);
    max-width: 118.75rem;

    &-button-prev,
    &-button-next {
      @include size($banner-button-size, $banner-button-size);
    }

    &-button-prev {
      left: $banner-button-position;
      background: url('/assets/icons/arrow/swiper-prev.svg') no-repeat;
    }

    &-button-next {
      right: $banner-button-position;
      background: url('/assets/icons/arrow/swiper-next.svg') no-repeat;
    }

    &-button-prev::after,
    &-button-next::after {
      display: none;
    }
  }

  .swiper-slide {
    overflow: hidden;
    @include flex(row nowrap, center, center);

    & img {
      @include size(118.75rem, 23.125rem);
    }
  }
}

/* 상품 목록 슬라이드 */

.product-list {
  @include flex(column nowrap);
  position: relative;
  @include size($width);
  margin: 0 auto;
  padding: $rem-2-5 0;
  line-height: $line-height;
}

.product-header {
  margin-bottom: 1.75rem;
  padding: $rem-0-25;
  text-align: center;

  &__link {
    padding: $rem-0-5;
  }

  &__title {
    @include font($label-xl, 500, _, _);
  }

  &__sub-title {
    margin-top: 0.2rem;
    color: $gray-400-color;
  }
}

.product-item-group {
  .swiper {
    &-button-hidden {
      display: none;
    }

    &-button-prev,
    &-button-next {
      @include size($list-button-size, $list-button-size);
    }

    &-button-prev {
      left: -2rem;
      background: url('/assets/icons/arrow/list-arrow.svg') no-repeat;
    }

    &-button-next {
      right: -2rem;
      background: url('/assets/icons/arrow/list-arrow.svg') no-repeat;
      transform: rotate(180deg);
    }

    &-button-prev::after,
    &-button-next::after {
      display: none;
    }
  }
}

.product-item {
  @include flex(column nowrap, space-between);
  @include size(15.5625rem, 32rem); // 상품 목록 크기 조정

  a {
    @include size(15.5625rem, 29.5rem);
  }

  &__img {
    @include size(100%, 20rem);
    background-color: $gray-100-color;
    background-position: center center;
    border-radius: $rem-0-25;
    background-size: 100%;
    transition: background-size 0.3s ease;
  }

  &__img:hover {
    background-size: 110%;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    padding-top: $paragraph-medium;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__price {
    @include font($rem-0-875, _, _, $gray-181-color);
  }

  &__price--discounted {
    text-decoration: line-through;
  }

  &__discount-rate {
    margin-right: 0.3rem;
    @include font($rem-1-18, 700, _, $accent-yellow-color);
  }

  &__real-price {
    @include font($rem-1-18, 700, _, _);
  }

  &__reviews {
    @include font(0.8125rem, _, _, $gray-153-color);

    &::before {
      content: url('/assets/icons/product-list/reviews.svg');
      @include size(5.3125rem);
      margin-right: 0.125rem;
      vertical-align: middle;
    }
  }

  &__button {
    @include size(100%, 2.25rem);
    border: 1px solid $gray-221-color;
    border-radius: $rem-0-25;

    &::before {
      content: url('/assets/icons/product-list/Cart.svg');
      margin-right: $rem-0-25;
      vertical-align: middle;
    }
  }

  &__view-all {
    @include flex(column nowrap, center, center);
    @include size(100%, 31.25rem);
    text-align: center;

    img {
      margin-bottom: 1.125rem;
    }
  }
}

.price-group {
  margin: $rem-0-5 0 $rem-0-25 0;
}

/* 프로모션 배너 */

.promotion-banner {
  @include size($width);
  margin: 0 auto;
  padding: $rem-2-5 0;

  &__img {
    @include size($width, 8.6875rem);
    background-color: $gray-100-color;
    background-image: url('/assets/images/banner/line-banner01.webp');
  }
}
